<%= render "shared/login_form" unless current_member%>
<div class="local">
    <% if current_member%>
    <ul>
        <li><%=menu_link_to current_member.name + "さん",:account %></li>
        <li><%=menu_link_to "ログアウト",:session,method: :delete,data:{confirm: "ログアウトしますか?"}%></li>
    </ul>
    <%end%>
    <h2>最新ニュース</h2>
    <ul>
        <% 5.times do |i| %>
        <li><%= link_to "ニュースの見出し","#" %></li>
        <%end%>
    </ul>
</div>
