<%@page_title = "theaters#index"%>
<h1><%=@page_title %></h1>
<%@theaters.each do |t|%>
  <%if @theaters.present?%>
  <table class="list">
    <tr>
      <th>店名</th>
      <td><%=link_to t.store_name,t%></td>
    </tr>
    <tr>
      <th>住所</th>
      <td><%=t.address%></td>
    </tr>
    <tr>
      <th>問い合わせ先</th>
      <td><%=t.tel%></td>
    </tr>
  </table>
  <%else%>
    <p>劇場が登録されていません</p>
  <%end%>
<%end%>